html {
    background: #E9E9E9;
}
.btn {
    background-color: #ECC44A;;
    text-transform: none;
}
.btn:hover {
    background-color: #ECC44A;;
}
.card {
    z-index: 0;
}
.contenedor{
    background: #fafafa;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    
}
.contenedor2{
    width: 92%;
    margin-left: 4%;
}
.card .card-title {
    font-size: 18px;
    font-weight: 400;
}
h4 {
    font-size: 24px;
    font-weight: 500;
}
h5 {
    margin-left: 10px;
}
.product {
    height: 250px;
}
.activo {
    background: #ECC44A;
}
ul li.nav-menu:hover {
    background: #ECC44A;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background: #fafafa;
    color: black;
    text-transform: none;
}
.tabs .tab, .tabs .tab a.active {
    font-size: 20px;
    font-weight: 700;
}
.tabs .tab a {
    background: #fafafa;
    color:black;
    text-transform: none;
}
.tabs .indicator {
    background-color: #ECC44A;   
}